<ion-header>
  <ion-navbar color="dark">
    <ion-title> Settings </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <!-- Select sound for alarm -->
    <ion-item (click)="onSoundClicked()">
      <ion-icon item-left
                name="md-musical-note"></ion-icon>
      <ion-label>Sound</ion-label>
      <ion-input type="text"
                 disabled
                 [ngModel]="shortSoundFileName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon item-left
                name="bookmark"></ion-icon>
      <ion-label floating>Notification text</ion-label>
      <ion-input type="text"
                 [(ngModel)]="settings.notificationText"></ion-input>
    </ion-item>
  </ion-list>
  <p text-center>
    <button ion-button
            icon-right
            color="secondary"
            (click)="onSettingsSaveClicked()"> Save Settings
      <ion-icon name="game-controller-b"></ion-icon>
    </button>
  </p>
</ion-content>